@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

*{

    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

h1{
    font-size: 6rem;
}
h2 {
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}
h4{
    font-size: 1.4rem;
}

p{ 
    font-size: 17px;
    font-weight: 400;
}

.navbar{
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(47, 47, 47);
    color: #fff;
    padding: 0 25px;
}

.nav-left a{
    color: #fff;
    text-decoration: none;
}

.nav-right a{
    text-decoration: none;
    color: #fff;
    margin: 0 5px;
}

.nav-right a:hover{
    color: #ba9c6d
}

.mobile-nav{ 
    display: none;
}

.mobile-icon{
    display: none;
}
.jumbo{
    background-image: url("/assets/pexelsphoto213621.png");
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.jumbo h4{
    letter-spacing: 10px;
    font-weight: 400;

}


.overlay{
    background-color: #a9a9a9;
    height: 90vh;
    width: 100%;
    position: absolute;
    opacity: 15%;
    
}
.jumbo-contents{
    z-index: 2;
    text-align: center;
}

.dot-border{
    font-size: 24px;
}

.about-us{
    padding: 100px 300px;
    background-color: #DFCBAB;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about-us-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 900px;
}

.about-us-title h2 {
    font-weight: 400;
    margin-bottom: 25px;
    font-size: 2.25rem;
}
.about-us-contents{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 50px;
}

.about-us-contents .col-1{
    width: 50%;
}

.about-us-contents .col-1 .image{
    width: 400px;
    height: 700px;
    background-image: url("/assets/choc-rasberry-cake.jpg");
    background-size: cover;
    background-position: center;
}

.about-us-contents .col-2{
    display: flex;
    flex-direction: column;
    width:  50%;
}

.about-us-contents .col-2 p{
    margin-bottom: 100px;
}

.about-us-contents .col-2 .image{
    width: auto;
    height: 300px;
    background-image: url("/assets/coffee-parfait.jpg");
    background-size: cover;
    background-position: center;
}

.menu{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.menu .col-1{ 
    background-position: center;
    background-size: cover;
    background-image: url("/assets/coffee-by-window.jpg");
    height: 700px;
    width: 33%;

}


.menu .col-2{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 33%;
    padding: 0 25px;
    text-align: center;
}

.menu .col-2 h2{
    margin-bottom: 20px;
    font-weight: 400;
} 

.grey-txt{
    color: #a9a9a9;
    font-style: italic;
}

.menu .col-2 p{
    margin-bottom: 20px;
} 

.button {
    padding: 15px 30px;
    background-color: #dfcbab;
    text-decoration: none;
    text-align: center;
    color: #000 !important;
}

.button:hover{
    background-color: #ba9c6d;
}

.menu .col-3{ 
    background-position: center;
    background-size: cover;
    background-image: url("/assets/cupcakes.jpg");
    height: 700px;
    width: 33%;
}

.shop{
    background-image: url("/assets/espresso-machine.jpg");
    background-size: cover;
    background-position: 25% 75%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 50px;
}

.shop .text{
    width: 650px;
    margin-left: 15%;
    color: #fff;
}

.shop .text p{
    margin-bottom: 25px;
}

.shop .text .button{
    margin-top: 50px;
}

.promo{
    padding: 50px 200px;
    background-color: #DFCBAB;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.promo p{
    font-weight: 300;
}

.promo .col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin: 0 15px;
}

.promo .col-1 .image{
    height: 450px;
    width: 400px;
    background-image: url("/assets/macaroons.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
}

.promo .col-2 {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: 0 15px;
}

.promo .col-2 p{
    margin-bottom: 25px;
}

.promo .col-2 .image{
    height: 300px;
    width: 600px;
    background-image: url("/assets/whole-cake.jpg");
    background-size: cover;
    background-position: center;
}

.hours{
    display: flex;
    flex-direction: row;
}

.hours .col-1{ 
    background-position: center;
    background-size: cover;
    background-image: url("/assets/pastry-display.jpg");
    height: 700px;
    width: 33%;

}


.hours .col-2{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 33%;
    padding: 0 25px;
    text-align: center;
}

.hours .col-2 .address{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin-bottom: 20px;   
}

.hours .col-2 h2{
    margin-bottom: 20px;
    font-weight: 400;
} 

.hours .col-2 .hours{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    margin-bottom: 20px;  
}


.hours .col-2 p{
    margin-bottom: 5px;
} 


.hours .col-3{ 
    background-position: center;
    background-size: cover;
    background-image: url("/assets/coffee-n-cake.jpg");
    height: 700px;
    width: 33%;
}

.footer{
    height:100px;
    background-color: rgb(47, 47, 47);
    display: flex;
    padding: 50px 200px;
    align-items: center;
    justify-content: center;
}

.footer .col{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-right: #fff 1px solid ;
    margin: 0 75px;
    padding-right: 45px;
    text-align: left;
    width: 250px;
    height: 80px;
}

.footer a{
    text-decoration: none;
    color: #fff;
    margin-bottom: 5px;

}

.footer a:hover{
    color: #ba9c6d;
}

@media (min-width: 721px) and (max-width: 1040px) { 

    .about-us{
        padding: 100px 25px;
    }

    .promo{ 
        padding: 50px 25px;
    }

    .promo .col-2 .image {
        width: 500px;
    }
 
}

@media (min-width: 540px) and (max-width: 720px) { 
    .about-us{
    }
    
    .about-us-title{
        width: 400px;
    }

    .about-us-contents{
        padding: 50px 25px;
      align-items: center;
      flex-direction: column;
    }

    .about-us-contents .col-1{
        width: 100%;
        margin-bottom: 25px;
    }

    .about-us-contents .col-2{
        width: 100%;
    }

    .about-us-contents .col-2 p{
        margin-bottom: 50px;
    }

    .shop{
        height: 90vh;
    }

    .shop .text{
        width: 400px;
    }

    .promo {
        flex-direction: column;
        padding: 50px 25px;
    }

    .promo .col-1 {
        width: 100%;
        align-items: center;
        margin: 0;
        margin-bottom: 15px;
    }

    .promo .col-2 .image {
        width: 500px;
    }


    .promo .col-2 {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0;
        margin-bottom: 15px;
    }

    .promo .col-2 .image {
        width: 500px;
    }

    .footer .col{
        margin: 0 25px;
    }    

}

@media (min-width: 1px) and (max-width: 575px) { 

    h1{
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
    
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 16px;
    }
    
    p{ 
        font-size: 16px;
        font-weight: 400;
    }

    .about-us{
        padding: 50px 25px;
    }
    .about-us-title{
        width: 300px;
    }

    .about-us-contents{
      align-items: center;
      flex-direction: column;
    }


    .about-us-contents .col-1{
        margin-bottom: 25px;
        width: 100%;
    }

    .about-us-contents .col-1 .image{
        width: 300px;
        height: 500px;
    }

    .about-us-contents .col-2{
        width: 100%;
    }

    .about-us-contents .col-2 p{
        margin-bottom: 50px;
    }

    .about-us-title h2{
        font-size: 20px;
    }
    .menu{
        flex-direction: column;
    }

    .menu .col-1{
        width: 100%;
        height: 400px;
    }
    .menu .col-2{
        width: 100%;
        height: 400px;
        padding: 0px;

    }

    .menu .col-3{
        width: 100%;
        height: 400px;

    }

    .shop{
        height: 60vh;
    }

    .shop .text{
        width: 300px;
    }

    .promo {
        flex-direction: column;
        padding: 50px 25px;
    }

    .promo .col-1 {
        width: 100%;
        align-items: center;
        margin: 0;
        margin-bottom: 15px;
    }

    .promo .col-1 .image{
        height: 450px;
        width: 350px;
    }

    .promo .col-2 .image {
        width: 350px;
    }


    .promo .col-2 {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0;
        margin-bottom: 15px;
    }



    .hours {
        flex-direction: column;
    }

    .hours .col-1{
        width: 100%;
        height: 500px;
    }
    .hours .col-2{
        width: 100%;
        height: 500px;
        padding: 0px;

    }

    .hours .col-3{
        width: 100%;
        height: 500px;

    }

    .footer{
        padding: 25px 20px;
    }

    .footer .col{
        margin: 0px 25px 0 auto;
        padding-right: 10px;
        width: -moz-available;
    }    

    .footer a{
        font-size: 14px;
        color: #fff;
    }

}
@media (min-width: 1px) and (max-width: 992px) { 

 

    .nav-right{
        display: none;
    }

    .mobile-icon {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #fff;
        font-size: 40px;
        padding-right: 15px;
    }

    .mobile-nav{
        position:relative;animation:
        animateright 0.4s;
    }

    @keyframes animateright{
       from{right:-300px;opacity:0} 
          to{right:0;opacity:1}
    }
    
    .mobile-nav {
        height: 100vh;
        width: 50%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 20;
        display: none;
        background-color: rgb(47, 47, 47);
    }

    .mobile-items{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 50px;
        align-items: center;

    }

    .mobile-items h2{
        font-size: 46px;
        color: rgb(255, 255, 255);
        margin: 0px;
        width: 300px;
        text-align: center;
    }


    .mobile-list ul{ 
        padding: 0;
        text-align: center;
    }

    .mobile-list li{ 
        list-style: none;
        font-size: 46px;
        padding: 15px 0;
        text-align: center;
    }

    .mobile-list a:hover{ 
     color: #ba9c6d;
    }

    .mobile-list li a{ 
        color: #ffffff;
        text-decoration: none;
        text-align: left;
        font-size: 16px;
    }

    .mobile-close {
        padding: 0px 20px;
        cursor: pointer;
        font-size: 48px;
        color: #ffffff;
        text-align: right;
        padding-right: 15px;
        padding-top: 15px;
    }
 }